html, body {
  font-weight: 300;
  font-size: 12px;
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.hero, .hero-mobile {
  width: 100%;
}

.hero-mobile {
  display: none;
}

a.hero-link, a.hero-link:active, a.hero-link:link, a.hero-link:visited {
  border-bottom: 0 !important;
}

input {
  border-radius: 0;
}

.hi-res-photo {
  max-width: 600px;
  width: 100%;
}

.sold-out {
  font-weight: 400;
  color: red;
}

.remember {
  font-family: 'Gill Sans', 'Open Sans', sans-serif;
  font-size: 15px;
}

b {
  font-weight: 500;
}

.subtitle {
    visibility: hidden;
  }

.top-bar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.top-bar-left {
  grid-column: span 6;
  text-align: left;
  margin-top: 10px;
}

.top-bar-right {
  grid-column: span 6;
  text-align: right;
  margin-top: 10px;
}

.grey {
  color: #868686;
}

h1 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 0;
  font-family: 'Gill Sans', 'Open Sans', sans-serif;
}

.top-bar-right a {
  font-size: 18px;
  color: white !important;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 0;
  font-family: 'Gill Sans', 'Open Sans', sans-serif;
  background: rgba(30, 137, 247, 1);
  padding: 10px 16px;
}

.footer {
  background-color: #231f20;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-image {
  grid-column: 1;
  text-align: right;
}

.footer-text {
  font-size: 14px;
  color: #ececec !important;
  grid-column: 2;
  text-align: left;
  color: white;
  font-family: 'Gill Sans', 'Open Sans', sans-serif;
  line-height: 20px;
  margin-top: 70px;
  letter-spacing: 0.04em;
}

.preorder-btn {
  font-family: 'Gill Sans', 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  border: 2px solid #0087fb !important;
  background-color: #0087fb;
  margin: 15px auto 25px auto;
  padding: 10px 20px 10px 20px;
  color: white !important;
  cursor: pointer;
}

.preorder-btn:hover {
  background-color: white;
  color: #0087fb !important;
  cursor: pointer;
}

.content {
  margin: 0 auto 0 auto;
  max-width: 1000px;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-title {
  -moz-hyphens:none;
  -ms-hyphens:none;
  -webkit-hyphens: none;
  hyphens:none;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 48px;
  line-height: 48px;
  margin-top: 80px;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Open Sans', sans-serif;
  max-width: none;
}

.subtitle {
  font-size: 1.3rem;
  margin-bottom: 35px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-family: 'Gill Sans', 'Open Sans', sans-serif;
}

p {
  font-size: 19px;
  font-weight: 300;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 10px;
  line-height: 29px;
  text-align: left;
  font-family: 'Gill Sans', 'Open Sans', sans-serif;
}

.lede {
  font-weight: 500;
}

h2 {
  padding-top: 80px;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Gill Sans', 'Open Sans', sans-serif;
}

p.sig {
  text-align: center;
}

.text-center {
  text-align: center;
}

h2 a, h2 a:active, h2 a:link, h2 a:visited {
  text-decoration: none;
  border-bottom: 0;
}

a, a:active, a:link, a:visited {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #c9c9c9;
}

#mc_embed_signup {
  margin: 0 auto;
  width: 500px !important;
  max-width: 100%;
}

#mc_embed_signup input.email {
  width: 100% !important;
}

#mc_embed_signup .button {
  border-radius: 0 !important;
}

.mailing-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 15px;
  margin-bottom: 60px;
}

.mailing-list-text-box {
  grid-column: span 8;
}

.mailing-list-button {
  grid-column: span 4;
}

.btn-slim {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.4em;
  border: 2px solid #3b3b3b !important;
  margin-left: 37px;
  margin-top: 0;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #3b3b3b;
  cursor: pointer;
}

.mailing-list-text-box .email {
  padding: 10px 20px 10px 20px;
  font-size: 1.4em;
  border: 2px solid #3b3b3b !important;
  margin: 0;

}

.clear {
  display: block;
  clear: both;
}

.fixed-btn {
  max-width: 275px;
}

.book-details {
  font-size: 15px;
  font-family: 'Gill Sans', 'Open Sans', sans-serif;
  line-height: 24px;
}

@media only screen and (max-width: 720px) {
  .hero-mobile {
    display: block;
  }

  .hero {
    display: none;
  }

  .main-title {
    font-size: 36px;
    line-height: 38px;
  }
  
  .top-bar-left h1 {
    font-size: 20px;
    margin-top: -12px;
  }
}

@media only screen and (max-width: 470px) {
  .top-bar-left h1 {
    display: none;
  }

  .top-bar-left {  
    grid-column: span 0;
  }

  .top-bar-right {  
    grid-column: span 12;
    text-align: center;
  }

  #mc_embed_signup input.email {
    width: 81% !important;
  }

  .btn-slim {
    margin-left: 0px;
  }
  
  .email-footer {
    font-size: 75%;
  }

  p {
    letter-spacing: -0.01em;
  }
  
  .subtitle {
    visibility: hidden;
  }
}