li::before {
  top:  0.19rem !important;
  font-size: 1.7rem !important;
  width: 3.2em !important;
  left: -2.7rem !important;
}

li {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

@media (max-width: 45.9375em) {
  li::before {
    left: 0.1em !important;
  }
  
  li {
    padding-left: 4rem !important;
  }

  hr {
    margin: 50px auto 50px !important;
  }
}

form div {
  bottom: auto !important;
}

p.translations {
  font-family: Tajawal, sans-serif;
  font-size: 20px;
  text-align: center;
  max-width: 425px;
  min-width: 367px;
  direction: rtl;
}

p.translations a {
  text-decoration: none !important;
  margin: auto 8px;
}

p.translations a.active {
  background-color: var(--theme-ui-colors-accent,#6166DC);
  color: white;
  border: 1px solid var(--theme-ui-colors-accent,#6166DC);
  border-radius: 25px;
  padding: 8px 12px 3px 12px;
}

/* 
    h1.e1oyruom3 {
      direction: rtl;
      font-family: Tajawal, sans-serif;
    }
    .e1oyruom4 {
      display: none !important;
    }
*/